#row3 {
	color: yellow;
}

* {
	font: 15px Arial, serif;
}

h1 {
	font-size: 40px;
}

#paragraph4{
	text-transform: uppercase;
}

.lessons {
	background-color: forestgreen;
}

img {
	border-radius: 50%;
}

#others {
	margin-top: 0;
	margin-right: 0;
	margin-left: 40px;
	margin-bottom: 0;
	padding: 0;
	box-sizing: border-box;
}

#tools {
    border-style: ridge;
}

#others {
	letter-spacing: 5px;
}

#foot {
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}